@import 'variables';
@import 'sections/header';
@import 'sections/slider';
@import 'sections/productSolutions';
//style button
body{
    font-family: 'ABeeZee', sans-serif;
}
.container{
    margin: 0px auto;
    max-width: 1340px;
    padding: 0px 15px;
}
.btn__blue{
    @extend %button-blue;
}
.link_buttonBlueMore{
    @extend %link;
    @extend %button-blue;
    border-radius: 25px;
    padding: 15px 37px;
}
.btn__consultation{
    @extend %button-blue;
    padding: 15px 35px;
}
.btn__completeSet{
    @extend %button-blue;
    font-size: 16px;
    padding: 18px 30px;
    border-radius: 50px;
}
.link_contactTelegram{
    @extend %link;
    @extend %button-blue;
    background-color: $color-dark;
    padding: 18px 30px;
}
.btn__call{
    @extend %button-blue;
    padding: 14px 12px 15px 20px;
}

