//переменные
$color-blue:#0066FF;
$color-dark:#222834;

//шаблоны
%button-blue{
    color: white;
    background-color: $color-blue;
    font-size: 14px;
    font-style: italic;
    border: none;
    border-radius: 10px;
}
%link{
    color: white;
    text-decoration: none;
    font-size: 14px;
}